.nav {
  background-color: #f2e7bc;
}

.nav a {
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  padding: 20px;
  text-transform: uppercase;
  background-attachment:fixed;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-color: #efefef;
  background-image:url('http://stocken.nu/swedish/bildnr3_stor.jpg');
    background-attachment:fixed;
    background-position:bottom;
  height: 400px;
  background-repeat:no-repeat;

}

.jumbotron .container {
  position: relative;
  top:150px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.more {
  background-color: #f7f7f7;
  border-bottom: 1px solid #dbdbdb;
  padding-top: 20px;
}

.more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.more a {
  color: #00b0ff;
}

.snabb {
padding: 30px;
background-image:url('http://upload.wikimedia.org/wikipedia/commons/a/a3/Cumulus_clouds_panorama.jpg');
  background-attachment:fixed;
    background-position:bottom;
    top:-1300;
  height: 300px;
  width: 1345px;
  background-repeat:no-repeat;

}

.snabb .container {
padding: 100px;
background-color: #f2e7bc;
width: 800px;
height 300px;
position: relative;
}

.mellan {
padding: 3px;
border-bottom: 1px solid #dbdbdb;
background-color: #f2e7bc;
}

.neighborhood-guides {
    background-color: #efefef;
    padding-bottom: 20px;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p {
 font-size: 15px;
 margin-bottom: 13px;
 
}

.prices {
    background-color:#efefef;


}

.prices word-spacing{
    word-spacing:30px;

}

.prices seperator{

    height:1px;
    background:#000000;
    border-bottom:1px solid #313030;
}

.prices position{
    position: fixed;
    top: 30px;
    right: 15px;
}

.prices bold{
    font-weight:bold;


}

.panel-body{
    background:#FFFFFF;
    border-bottom:1px solid #313030;

}

.row .container{
    position: relative;
}

.prices .h1{
    position: relative;
}
